
<div class="row">
  <div class="col hero-slider__slider">
  {% for slide in page.slides %}
  {% assign url_first_char = slide.url | slice: 0 %}
  {%- if slide.url contains 'https://' or slide.url contains 'http://' or url_first_char == '.' or url_first_char == '/' -%}
  {%- assign slide_url = slide.url -%}
  {%- else -%}
  {%- assign slide_url = slide.url | prepend: page.baseurl -%}
  {%- endif -%}
    <div>
      <a
        href="{{ slide_url }}"
        class="ga_slider_link"
        {%- if slide.new_tab == true %}
        target="_blank"
        rel="noopener noreferrer"
        {%- endif %}>
        <img
          src="{{ page.baseurl }}assets/img/placeholder_16to9.svg"
          data-src="{{ page.baseurl }}{{ slide.image }}"
          class="img-fluid hero-slider__slider--slide-img{% if slide.white_background %} hero-slider__slide-img--border{% endif %}"
          alt="{{ slide.alt-text | replace: '"', '&quot;' }}">
      </a>
      {%- if slide.text %}
      <div class="hero-slider__slider--heading-container text-center">
        <h3 class="hero-slider__slider--slide-heading">{{ slide.text }}</h3>
      </div>{% endif %}
    </div>
  {% endfor %}
  </div>
</div>
