<nav id="globalNav" role="navigation" class="navbar nav-global fixed-top navbar-fixed-top">
  <a
    class="clickable navbar-brand nav-global__navbar-brand"
    href="https://www.kcc.edu"
    aria-label="Kankakee Community College home">
    <img
      src="{{ page.baseurl }}assets/img/kcc-logo-white.svg"
      class="img-fluid nav-global__kcc-logo-inverse"
      height="36px"
      width="82.4px"
      alt="KCC">
    <img
      src="{{ page.baseurl }}assets/img/kcc-text-logo-white.svg"
      class="img-fluid nav-global__kcc-logo"
      height="36px"
      width="432px"
      alt="Kankakee Community College">
  </a>
  <button
    id="searchIcon"
    role="button"
    class="nav-global__search-toggle d-lg-none ms-auto btn btn-link"
    aria-label="Toggle Search"
  >
    <span
      id="searchImg"
      style="background-image: url('{{ page.baseurl }}assets/img/search.svg')"
      class="nav-global__search-icon"
      alt="Search icon"
    ></span>
  </button>
  <div
    id="searchCollapse"
    aria-hidden="true"
    class="nav-global__gcse-wrapper nav-global__search-collapse ms-auto"
  >
    <gcse:searchbox-only resultsUrl="{{ page.baseurl }}search/"></gcse:searchbox-only>
  </div>
  <div class="nav-global__search--open-background"></div>
</nav>
